.content
    %h1 Jobs:
    %ul
        %li
            %p Bob the builder Test 1
        %li
            %p Maintenance of railways in Stockholm Län
        %li
            %p Now job with in construction
